[Desktop Entry]
Type=Application
Name=miter
Comment=Minimal Markdown Editor
Exec=miter %F
Icon=miter
Terminal=false
Categories=Utility;TextEditor;
MimeType=text/markdown;text/plain;
StartupNotify=true